* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  background-color: #17181f;

  color: #ddd;
}

main {
  max-width: 360px;
  margin: 25px auto;
}

h1 {
  font-size: 1.6rem;
}
.navbar img{
  display: block;
}
.navleft{
  display: flex;
}
.navbar{
  margin: 5px 13px;
}

h2 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 1.3rem;
}

form {
  margin-top: 20px;
}
form input {
  width: 100%;
  background-color: transparent;
  color: #ddd;
  font-size: 0.9rem;
  border: 2px solid #30313d;
  padding: 8px 8px 8px 10px;
  border: 1.5px solid;
  outline: none;
  border-radius: 5px;
}

form .basic {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

form button {
  width: 100%;

  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  background-color: #ddd;
  font-size: 1rem;
  font-style: bold;
  cursor: pointer;
}
.transactions {
  margin-top: 10px;
}
.transaction {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  border-top: 1px solid #30313d;
}
.transaction:first-child {
  border-top: 0;
}

.transaction .name {
  font-size: 1rem;
}

.right {
  text-align: right;
}

.price.green {
  color: #1c1;
}
.price.red {
  color: #c11;
}
.transaction .datetime {
  font-size: 0.7rem;
  color: #888;
}
.footer {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 10px;
}
